<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        
        <rewrite>
            <rules>
                <!-- TODO pasa por Node.js -->
                <rule name="AllToNode">
                    <match url="(.*)" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
		
		<!-- Configuración de tipos MIME para archivos estáticos -->
        <staticContent>
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" /> 
        </staticContent>
		
        
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        
        <httpErrors existingResponse="PassThrough" />
        
        <iisnode
            nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
            loggingEnabled="true"
            logDirectory="iisnode"
            debuggingEnabled="false"
            devErrorsEnabled="false"
            node_env="production"
        />
    </system.webServer>
</configuration>